.container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
}

form{
    height: 100%;
}

button{
    width: 100px;
    margin-left: 100%;
}