/* ヘッダー */
.header {
  border-bottom: 2px dashed #ccc; /*下線を追加*/
  text-decoration-line: none;
}

/* ナビゲーションの設定 */
.header-nav {
  display: flex;
  align-items: center;
  font-size: 20px;
}

/* 右エリアのレイアウト */
.nav-right {
  margin-left: auto; /* ← ここで右側へ押し出し */

  display: flex;
  align-items: center;
  gap: 16px;
}

/* リンクの下線を消すのと文字色を黒く */
.header-nav a,
.nav-left .btn-link{
    text-decoration: none;
    color: black;
}

/* リンク風ボタンのスタイル */
.btn-link {
  background: none;
  border: none;
  padding: 0;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
}

/* ボタンのホバー時 */
.btn-link:hover {
  color: #004999;
}

/* 右コンテンツのアニメーション */
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color:#111;
}
a::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

/* 左コンテンツのホバー時のアニメーション */
.hover-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color:#111;
}

.hover-underline::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.hover-underline:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}
